<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <p class="col-md-4 mb-0 text-body-secondary">&copy; 2023 Maria, Inc</p>
  
      <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
      </a>
  
      <ul class="nav col-md-4 ">
        <li class="nav-item"><a target="_blank" href="https://cinema-website.onrender.com/" class="nav-link px-2 text-body-secondary">Home</a></li>
        <li class="nav-item"><a href=" mailto:hello@chewymovie.com?subject=Contact&body=My%20name%20is%3A%20%3Cyour%20name%3E%0D%0AI%20am%20writing%20to%20you%20about%3A%20%3Cdescribe%20your%20situation%3E " class="nav-link px-2 text-body-secondary">Contact us</a></li>
        <li class="nav-item"><a href="https://cinema-website.onrender.com/Jobs" class="nav-link px-2 text-body-secondary">Jobs</a></li>
        <li class="nav-item"><a href="https://cinema-website.onrender.com/FAQ" class="nav-link px-2 text-body-secondary">FAQs</a></li>
        <li class="nav-item"><a href="https://cinema-website.onrender.com/Bonus" class="nav-link px-2 text-body-secondary">Bonus Program</a></li>
        <li class="nav-item"><a href="https://cinema-website.onrender.com/About" class="nav-link px-2 text-body-secondary">About</a></li>
      </ul>
    </footer>
  </div>