<div class="col align-self-start">
<div class="btn-group" style="float: left; width: 260px; margin-right: 400px ;" role="group" aria-label="Basic example">

    <button type="button" class="btn btn-primary">City</button>
    <button type="button" class="btn btn-primary">Cinema</button>
    <button type="button" class="btn btn-primary">Tickets</button>
</div>   
</div>


  
<div class="btn-group">
  <div class="container">
    <button type="button" class="btn btn-warning">Log in</button>
    <button type="button" class="btn btn-warning">Register</button>
  </div>
</div>




<div class="container" style="float:right;">

    <button type="button" class="btn btn-primary dropdown-toggle float-right align-middle" data-bs-toggle="dropdown" aria-expanded="false">
      Menu
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Dropdown link</a></li>
      <li><a class="dropdown-item" href="#">Dropdown link</a></li>
    </ul>

</div>
<br>